mixin pagination(props = {})
  -
    const {
      mods = '',
      text = ''
    } = props;

  .pagination(aria-label="Page navigation")&attributes(attributes)
    .pagination__inner
      ul.pagination__list
        li.pagination__item
          a.pagination__link.pagination__link--active(href="/fsd-hotel/change-me") 1
        li.pagination__item
          a.pagination__link(href="/fsd-hotel/change-me") 2
        li.pagination__item
          a.pagination__link(href="/fsd-hotel/change-me") 3
        li.pagination__item
          span.pagination__more ...
        li.pagination__item
          a.pagination__link(href="/fsd-hotel/change-me") 15
        li.pagination__item
          a.pagination__link.pagination__link--next(href="/fsd-hotel/change-me")
            img.pagination__icon(src=require("../../components/pagination/img/pagination-arrow.svg"), alt="next")
      if (text)
        p.pagination__text!= text