mixin btn(props = {})
  -
    const { 
      text = 'Кнопка',
      isPrimary = false,
      isOutline = false,
      isSimple = false,
      isSizeFull = false,
      isWithIcon = false,
      isHover = false
    } = props;

    let btnClassName = 'btn';
    btnClassName += isPrimary ? ' btn--theme-primary' : '';
    btnClassName += isOutline ? ' btn--theme-outline' : '';
    btnClassName += isSimple ? ' btn--theme-simple' : '';
    btnClassName += isSizeFull ? ' btn--size-full' : '';
    btnClassName += isHover ? ' btn--view-hovered' : '';

  if (attributes.href)
    a(class=btnClassName)&attributes(attributes)!= text
      if (isWithIcon)
        img.btn__arrow(src=require('../../components/btn/images/btn-arrow.svg'), alt="arrow", width="18", height="18")
      block
  else
    button(class=btnClassName, type="button")&attributes(attributes)!= text
      if (isWithIcon)
        img.btn__arrow(src=require('../../components/btn/images/btn-arrow.svg'), alt="arrow", width="18", height="18")
      block