@import '../../scss/variables';

.btn {
  $block-name: &;

  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: transparent;
  border-radius: 1.375rem;
  color: $primary-color;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: bold;
  font-family: $Montserrat;
  text-transform: uppercase;
  padding: 0.875rem 1.25rem 0.9375rem 1.25rem;
  user-select: none;
  transition: all .15s ease-in-out;
  text-align: center;
  cursor: pointer;

  &:not([href]):focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(188,156,255, .5);
  }

  /* Modifier theme primary */

  &--theme-primary {
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    min-width: 6.1875rem;

    &:hover,
    &:focus,
    &.btn--view-hovered {
      opacity: 0.5;
    }
  }

  /* Modifier theme outline */

  &--theme-outline {
    position: relative;
    z-index: 1;
    color: $primary-color;
    padding: 0.875rem 1.125rem 0.9375rem 1.125rem;
    min-width: 6.1875rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 1.375rem;
    }

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      background: #BC9CFF;
      background: linear-gradient(to bottom, #BC9CFF 0%,#8BA4F9 100%);
    }

    &::after {
      top: 2px;  right: 2px; bottom: 2px;
      left: 2px;
      z-index: -1;
      background-color: #fff;
      opacity: 1;
    }

    &:hover,
    &:focus,
    &.btn--view-hovered {
      &::before {
        opacity: 0.5;
      }
    }
  }

  /* Modifier theme simple */

  &--theme-simple {
    padding: 0;

    &:hover,
    &:focus,
    &.btn--view-hovered {
      color: $dark-shade-50;
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  /* Modifier size full */

  &--size-full {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8125rem;
  }
}