mixin btn(props = {})
  -
    const { 
      text = 'Кнопка',
      attrs = {},
      isPrimary = false,
      isOutline = false,
      isSimple = false,
      isSizeFull = false,
      isSizeSmall = false,
      isHover = false,
      isViewArrow = false
    } = props;

    let classesBtn = '';
    classesBtn += isPrimary ? 'btn--theme-primary' : '';
    classesBtn += isOutline ? 'btn--theme-outline' : '';
    classesBtn += isSimple ? 'btn--theme-simple' : '';
    classesBtn += isSizeFull ? ' btn--size-full' : '';
    classesBtn += isSizeSmall ? ' btn--size-small' : '';
    classesBtn += isHover ? ' btn--view-hovered' : '';
    classesBtn += isViewArrow ? ' btn--view-arrow' : '';
    

  if (typeof(attrs.href) !== 'undefined' && attrs.href)
    a.btn(class=classesBtn)&attributes(attrs)!= text
  else
    button.btn(class=classesBtn, type="button")&attributes(attrs)!= text