.page-sign-in {

  /* Page Content */

  &__page-content {
    display: flex;
    align-items: center;
    background-image: url('../../assets/img/bg-sign-in-up.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5.75rem 0.9375rem;

    @media (min-width: 768px) {
      padding: 10.75rem 0.9375rem;
    }
  }

  /* Form */

  &__form {
    max-width: 23.75rem;
    width: 100%;
    margin: 0 auto;
  }
}