include ../button/button
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown

mixin form-filter(props = {})
  -
    const {
      title,
      dateDropdown,
      dropdown,
      buttonSubmit
    } = props;

  .form-filter&attributes(attributes)
    form.form-filter__form
      if (title)
        h3.form-filter__title!= title
      .form-filter__input-group
        +date-dropdown(dateDropdown)
      .form-filter__input-group
        +dropdown(dropdown)
      .form-filter__footer
        +button(buttonSubmit)