@import '../../scss/variables';
@import '../../scss/mixins';

.date-dropdown {

  /* Group */

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__group &__label {
    width: 50%;
  }

  /* Label */

  &__label {
    display: block;
  }

  &__label + &__label {
    margin-left: 1.25rem;
  }

  /* Title */

  &__title {
    @include title;

    display: block;
  }

  /* Input */

  &__input-wrap {
    position: relative;
    display: block;

    &::after {
      content: '';
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2.75rem;
      background-image: url('./img/date-dropdown-arrow.svg');
      background-repeat: no-repeat;
      background-position: top 52% right 50%;
    }
  }

  &__input {
    @include input;

    text-transform: lowercase;
    cursor: pointer;
    padding-right: 2.75rem;

    &::placeholder {
      text-transform: uppercase;
      color: $dark-shade-75;
    }
  }
}