include ../field-text/field-text

mixin date-dropdown(props = {})

  -
    const {
      mods = '',
      filter,
      range = [
        {
          title: 'Dropdown date',
        },
        {
          title: 'Dropdown date'
        }
      ]
    } = props;

    let allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      allMods = mods.split(',').map(el => `dropdown--${el.trim()}`).join(' ');
    }

  .date-dropdown(class=allMods)&attributes(attributes)
    if (typeof(filter) !== 'undefined' && filter)
      +field-text({
        ...filter,
        attrs: {
          class: 'date-dropdown__input-filter',
          readonly: true,
          placeholder: 'дд М - дд М',
        }
      })(class="date-dropdown__field-wrap")

    else
      .date-dropdown__group
        each item, i in range
          +field-text({
            ...item,
            attrs: {
              class: `date-dropdown__${i === 0 ? 'input-start' : 'input-end'}`,
              type: "text",
              placeholder: 'ДД.ММ.ГГГГ',
              readonly: true
            }
          })(class="date-dropdown__field-wrap")