@import '../../scss/variables';
@import '../../scss/mixins';

.expandable-checkbox {
  $block-name: &;

  /* Trigger */

  &__trigger {
    @include title-h3(0);

    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      width: 0.75rem;
      height: 0.5rem;
      top: 50%;
      right: 1rem;
      margin-top: -0.25rem;
      position: absolute;
      background-image: url('./img/expandable-checkbox-arrow.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      transition: transform .3s ease-in-out;
    }
  }

  /* Content */

  &__content {
    margin-top: 1.09rem;
  }

  /* Modifier open */

  &--open {
    #{$block-name}__trigger {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}