@import '../../scss/variables';
@import '../../scss/mixins';

.range-slider {

  /* Text */

  &__text-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.125rem;
    text-transform: uppercase;
  }

  &__title {
    @include title-h3;
  }

  &__value {
    @include help-text;
  }

  &__help-text {
    font-size: 0.75rem;
    line-height: 1.1667;
    color: $dark-shade-50;
    margin: 0.8475rem 0 0;
  }

  /* Overwrite styles */

  .noUi-target {
    background: #fff;
    border-radius: 0.1875rem;
    border-color: $dark-shade-25;
    box-shadow: none;
  }

  .noUi-horizontal {
    height: 0.375rem;
  }

  .noUi-horizontal .noUi-handle {
    width: 0.875rem;
    height: 0.875rem;
    right: -0.4375rem;
    top: -0.3125rem;
  }
  .noUi-handle {
    border: 2px solid #fff;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    box-shadow: none;
    cursor: pointer;
  }

  .noUi-handle:after,
  .noUi-handle:before {
    display: none;
  }

  .noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    top: -1px;
    bottom: -1px;
    height: auto;
  }

  .noUi-connects {
    overflow: visible;
    position: relative;
  }
}