mixin range-slider(props = {})
  -
    const { title = '' } = props;

  .range-slider.js-range-slider&attributes(attributes)
    .range-slider__text-wrap
      span.range-slider__title!= title
      span.range-slider__value
    .range-slider__control