@import '../../scss/variables';
@import '../../scss/mixins';

.page-form-elements {
  $block-name: &;

  padding-bottom: 8.125rem;

  /* Header */

  &__header {
    padding: 1.875rem 0.9375rem 4.0625rem;
    max-width: 88.125rem;
    margin: 0 auto;
  }

  /* Grid */

  &__grid {
    max-width: 74.25rem;
    padding: 0 0.9375rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2.7775rem;
    
    @media (min-width: 768px) {
      grid-column-gap: 2.5rem;
      grid-row-gap: 6.25rem;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 992px) {
      grid-template-columns: 20rem 1fr 1fr;
      grid-column-gap: 3.5rem;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 20rem 20rem;
      grid-column-gap: 4.5rem;
    }
  }

  /* Item */

  &__item {
    &--left {
      max-width: none;

      @media (min-width: 768px) {
        max-width: 20rem;
      }
    }

    &--comment {
      grid-column: 1 / 2;
      margin-top: 0.5rem;

      @media (min-width: 768px) {
        grid-column: 1 / 3;
      }
      @media (min-width: 992px) {
        grid-column: 2 / 4;
      }
    }

    &--dropdown {
      grid-column: 1 / 2;

      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.875rem;
      grid-row-gap: 1.25rem;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-row-gap: 6.25rem;
        grid-column: 1 / 3;
        margin-bottom: 4.5275rem;
      }
  
      @media (min-width: 992px) {
        grid-template-columns: 20rem 1fr 1fr;
        grid-column: 1 / 4;
        grid-column-gap: 3.5rem;
      }
  
      @media (min-width: 1200px) {
        grid-template-columns: 1fr 20rem 20rem;
        grid-column-gap: 4.5rem;
      }
    }
  }

  /* Title */

  &__title {
    @include title(1rem);

    &--bullet {
      margin-bottom: 0.8125rem;
    }
  }

  /* Field Text Default */

  &__field-text-default {
    margin-bottom: 1.29rem;
  }

  /* Field Text Hover */

  &__field-text-hover {
    margin-bottom: 1.25rem;
  }

  /* Dropdown Default */

  &__dropdown-default {
    margin-bottom: 1.41rem;
  }

  /* Field Text Masked */

  &__field-text-masked {
    margin-bottom: 2.5rem;
  }

  /* Date Dropdown */

  &__date-dropdown {
    margin-bottom: 2.535rem;
  }

  /* Filter Date Dropdown */

  &__filter-date-dropdown {
    max-width: none;
    margin-bottom: 2.5625rem;

    @media (min-width: 768px) {
      max-width: 16.625rem;
    }
  }

  /* Subscribe */

  &__subscribe {
    max-width: none;

    @media (min-width: 768px) {
      max-width: 16.625rem;
    }
  }

  /* Checkbox Buttons */

  &__checkbox-buttons {
    margin-bottom: 2.5rem;
  }

  /* Radio Buttons */

  &__radio-buttons {
    margin-bottom: 2.5rem;
  }

  /* Toggle */

  &__toggle {
    margin-bottom: 2.7775rem;
  }
  
  /* Like btn */

  &__like-btn {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.5rem;
    
    button {
      margin-right: 0.625rem;
      flex: 0 0 auto;
    }
  }

  /* Rating */

  &__rating {
    display: flex;
    align-items: flex-start;

    > * + * {
      margin-left: 1.25rem;
    }
  }

  /* Range Slider */

  &__range-slider {
    margin-bottom: 2.7225rem;
    max-width: none;

    @media (min-width: 768px) {
      max-width: 16.625rem;
    }
  }

  /* Buttons */

  &__buttons {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.875rem;

    > * + * {
      margin-left: 1.25rem;
    }

    &--outline {
      margin-bottom: 1.9375rem;

      > * + * {
        margin-left: 1.1rem;
      }
    }

    &--full {
      margin-bottom: 2.5rem;
    }
  }

  /* Dropdown */

  &__dropdown {
    max-width: none;

    & + & {
      margin-top: 1.25rem;
    }

    @media (min-width: 768px) {
      max-width: 266px;
    }
  }

  /* Expand */

  &__expand {
    max-width: 266px;
    
    & + & {
      margin-top: 3.0625rem;
    }
  }

  /* Icon Text List */

  &__icon-text-list {
    margin-top: -2px;
  }
}