mixin field-checkbox(props = {})
  -
    const { 
      isModRich = false,
      title,
      items = []
    } = props;

    let fieldCheckboxClassName = '';
    fieldCheckboxClassName += isModRich ? 'field-checkbox--rich' : '';

  .field-checkbox(class=fieldCheckboxClassName)&attributes(attributes)
    .field-checkbox__title!= title
    each item in items
      -
        const { 
          title = '',
          text = '',
          attrs
        } = item;

      .field-checkbox__input-wrap
        label.field-checkbox__label
          input.field-checkbox__input(type="checkbox")&attributes(attrs)
          span.field-checkbox__text!= title
          if (text)
            span.field-checkbox__add-text!= text