extends ../../templates/layout

include ../../components/page-header/page-header
include ../../components/page-content/page-content
include ../../components/page-footer/page-footer
include ../../components/form-registration/form-registration

block head
  - const pageTitle = "Registration";
  - const pageDescription = "Макет страниц по поиску номеров в отеле";
  - const pageKeywords = "Toxin, отель, отели";

block content

  body.page-registration
    +page-header({
      logo: {
        href: 'index.html'
      },
      mainNav: {
        list: [
          {
            text: 'О нас',
            href: '/fsd-hotel/change-me',
            isActive: true
          },
          {
            text: 'Услуги',
            href: '/fsd-hotel/change-me',
            submenu: [
              {
                text: 'Обслуживание номеров 24/7',
                href: '/fsd-hotel/change-me'
              },
              {
                text: 'Химчистка/ Прачечная',
                href: '/fsd-hotel/change-me'
              },
              {
                text: 'Трансфер из аэропорта',
                href: '/fsd-hotel/change-me'
              }
            ]
          },
          {
            text: 'Вакансии',
            href: '/fsd-hotel/change-me'
          },
          {
            text: 'Новости',
            href: '/fsd-hotel/change-me'
          },
          {
            text: 'Соглашения',
            href: '/fsd-hotel/change-me',
            submenu: [
              {
                text: 'Ваучер',
                href: '/fsd-hotel/change-me'
              },
              {
                text: 'Заказ',
                href: '/fsd-hotel/change-me'
              },
              {
                text: 'Исполнитель',
                href: '/fsd-hotel/change-me'
              },
              {
                text: 'Комиссия',
                href: '/fsd-hotel/change-me'
              }
            ]
          }
        ]
      },
      user: {
        signInBtn: {
          text: 'Войти',
          isOutline: true,
          isSizeSmall: true,
          attrs: {
            href: 'sign-in.html'
          }
        },
        signUpBtn: {
          text: 'Зарегистрироваться',
          isPrimary: true,
          isSizeSmall: true,
          attrs: {
            href: 'registration.html'
          }
        }
      }
    })
    +page-content()(class="page-registration__page-content")
      .page-registration__form
        +form-registration({
          title: 'Регистрация аккаунта',
          inputFirstName: {
            attrs: {
              placeholder: 'Имя',
              type: 'text'
            }
          },
          inputLastName: {
            attrs: {
              placeholder: 'Фамилия',
              type: 'text'
            }
          },
          radioSex: {
            radiobuttons: [
              {
                title: 'Мужчина',
                attrs: {
                  checked: true,
                  name: 'sex'
                }
              },
              {
                title: 'Женщина',
                attrs: {
                  name: 'sex'
                }
              }
            ]
          },
          inputBirthDate: {
            title: 'Дата рождения',
            isMask: true,
            attrs: {
              placeholder: 'ДД.ММ.ГГГГ',
              'data-inputmask': "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy'"
            }
          },
          inputEmail: {
            title: 'Данные для входа в сервис',
            attrs: {
              placeholder: 'Email',
              type: 'email'
            }
          },
          inputPassword: {
            attrs: {
              placeholder: 'Пароль',
              type: 'password'
            }
          },
          toggleSpecial: {
            items: [
              {
                title: 'Получать спецпредложения'
              }
            ]
          },
          btnSubmit: {
            text: 'Перейти к оплате',
            isPrimary: true,
            isSizeFull: true,
            isViewArrow: true,
            attrs: {
              type: 'submit'
            }
          },
          login: {
            text: 'Уже есть аккаунт на Toxin',
            btn: {
              text: 'Войти',
              isOutline: true,
              isSizeFull: true,
              attrs: {
                href: 'sign-in.html'
              }
            }
          }
        })
    +page-footer({
      logo: {
        href: 'index.html'
      },
      description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      groupList: [
        {
          title: 'Навигация',
          navList: [
            {
              text: 'О нас',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Новости',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Служба поддержки',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Услуги',
              href: '/fsd-hotel/change-me'
            }
          ]
        },
        {
          title: 'О нас',
          navList: [
            {
              text: 'О сервисе',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Наша команда',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Вакансии',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Инвесторы',
              href: '/fsd-hotel/change-me'
            }
          ]
        },
        {
          title: 'Служба поддержки',
          navList: [
            {
              text: 'Соглашения',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Сообщества',
              href: '/fsd-hotel/change-me'
            },
            {
              text: 'Связь с нами',
              href: '/fsd-hotel/change-me'
            }
          ]
        }
      ],
      subscribeTitle: 'Подписка',
      subscribeDescription: 'Получайте специальные предложения и новости сервиса',
      subscribe: {
        attrs: {
          type: 'email',
          placeholder: 'Email'
        }
      },
      copyright: 'Copyright &copy; 2018 Toxin отель. Все права зачищены.',
      social: {
        list: [
          {
            image: 'social-twitter.svg',
            href: 'fsd-hotel/change-me',
            alt: 'twitter',
            width: 24,
            height: 20
          },
          {
            image: 'social-facebook.svg',
            href: 'fsd-hotel/change-me',
            alt: 'facebook',
            width: 22,
            height: 22
          },
          {
            image: 'social-instagram.svg',
            href: 'fsd-hotel/change-me',
            alt: 'instagram',
            width: 22,
            height: 22
          }
        ]
      }
    })