.expand {
  $block-name: &;

  /* Title */

  &__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: $dark-shade-100;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: '';
      width: 12px;
      height: 8px;
      top: 50%;
      right: 16px;
      margin-top: -4px;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5938 0.57812L12 1.98437L6 7.98437L3.49418e-06 1.98437L1.40625 0.578122L6 5.17187L10.5938 0.57812Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  /* Content */

  &__content {
    display: none;
    margin-top: 17px;
  }

  /* Modifier open */

  &--open {
    #{$block-name}__title {
      &::after {
        transform: rotate(180deg);
      }
    }
    #{$block-name}__content {
      display: block;
    }
  }
}