mixin expand(props = {})
  -
    const { title = 'Expand', isOpen = false } = props;

    let classes = 'expand js-expand';
    classes += isOpen ? ' expand--open' : '';

  div(class=classes)&attributes(attributes)
    .expand__trigger.js-expand__trigger!= title
    .expand__content.js-expand__content
      block