mixin logo(props = {})
  -
    const {
      isSimple = false,
      href
    } = props;

  a.logo(href=href)
    if (isSimple)
      img.logo__img(src=require("../../components/logo/img/logo-simple.svg"), alt="logo", width="48", height="48")
    else
      img.logo__img(src=require("../../components/logo/img/logo.svg"), alt="logo", width="106", height="40")