mixin logo(props = {})
  -
    const { isSimple = false } = props;

  a.logo(href="/")
    if (isSimple)
      img.logo__img(src=require("../../components/logo/img/logo-simple.svg"), alt="logo", width="48", height="48")
    else
      img.logo__img(src=require("../../components/logo/img/logo.svg"), alt="logo", width="105.69", height="40")