mixin subscribe(props = {})
  -
    const { attrs = {} } = props;

  .subscribe
    form.subscribe__form
      span.subscribe__input-wrap
        input.subscribe__input&attributes(attrs)
        button.subscribe__button(type="submit")