@import '../../scss/variables';
@import '../../scss/mixins';

.subscribe {
  position: relative;

  &__input-wrap {
    position: relative;
    display: block;
  }

  &__title {
    @include title;
  }

  &__input {
    @include input;

    padding-right: 2.75rem;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.75rem;
    background-color: transparent;
    background-image: url('./img/subscribe-arrow.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 50%;
    border: 0;
    cursor: pointer;
  }
}