mixin subscribe(props = {})
  - const { placeholder = '', title = '' } = props;

  .subscribe&attributes(attributes)
    if (title)
      .subscribe__title!= title
    span.subscribe__input-wrap
      input.subscribe__input(type="email", placeholder=placeholder)
      button.subscribe__button(type="submit")