extends ../../templates/layout

include ../../components/page-header/page-header
include ../../components/page-content/page-content
include ../../components/page-footer/page-footer

block head
  - const pageTitle = "Главная";
  - const pageDescription = "Макет страниц по поиску номеров в отеле";
  - const pageKeywords = "Toxin, отель, отели";

block content
  .page-index
    .page-index__container
      h3 Ui kit
      ul
        li
          a(href="colors-type.html") Colors & Type
        li
          a(href="form-elements.html") Form elements
        li
          a(href="cards.html") Cards