.page-index {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;

  &__container {
    max-width: 73.125rem;
    width: 100%;
    padding: 9.375rem 0.9375rem 9.0625rem;
    margin: 0 auto;
  }
}