extends ../../templates/layout

block head
  - const pageTitle = "Список страниц";
  - const pageDescription = "Макет страниц по поиску номеров в отеле";
  - const pageKeywords = "Toxin, отель, отели";

block content

  body.page-index
    .page-index__container
      section
        h2 Ui kit
        ul
          li
            a(href="colors-type.html") Colors & Type
          li
            a(href="form-elements.html") Form elements
          li
            a(href="cards.html") Cards
          li
            a(href="headers-footers.html") Headers & Footers
      section
        h2 Website pages
        ul
          li
            a(href="landing.html") Landing page
          li
            a(href="search-room.html") Search room
          li
            a(href="room-details.html") Room details
          li
            a(href="registration.html") Registration
          li
            a(href="sign-in.html") Sign in