@import '../../scss/variables';

.icon-text-list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* Item */

  &__item {
    padding-bottom: 1.1875rem;
    margin-bottom: 1.375rem;
    border-bottom: 1px solid $dark-shade-10;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* Icon */

  &__icon-wrap {
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: 0 0.625rem 0 0;
    float: left;
    padding-top: 0.25rem;
  }

  /* Text wrap */

  &__text-wrap {
    display: block;
    overflow: auto;
  }

  &__title {
    font-weight: bold;
    display: block;
  }

  &__text {
    display: block;
  }
}