extends ../templates/base/base
include ../components/ui-kit-colors-type/ui-kit-colors-type

block head
  - const pageTitle = "Colors & Type";
  - const pageDescription = "Макет страниц по поиску номеров в отеле";
  - const pageKeywords = "Toxin, отель, отели";

block content
  +ui-kit-colors-type({
    colorsList: [
      {
        text: 'Dark Shade 100%',
        hexCode: '#1F2041',
        modifier: 'dark-shade-100'
      },
      {
        text: 'Dark Shade 75%',
        hexCode: '#1F2041',
        modifier: 'dark-shade-75'
      },
      {
        text: 'Dark Shade 50%',
        hexCode: '#1F2041',
        modifier: 'dark-shade-50'
      },
      {
        text: 'Dark Shade 25%',
        hexCode: '#1F2041',
        modifier: 'dark-shade-25'
      },
      {
        text: 'Dark Shade 5%',
        hexCode: '#1F2041',
        modifier: 'dark-shade-5'
      },
      {
        text: 'Purple',
        hexCode: '#BC9CFF',
        modifier: 'purple'
      },
      {
        text: 'Green',
        hexCode: '#6FCF97',
        modifier: 'green'
      }
    ],
    typeList: [
      {
        text: 'This one is the sub-section or<br>widget title',
        tag: 'H1'
      },
      {
        text: 'Next one is the item title inside<br>widgets',
        tag: 'H2'
      },
      {
        text: 'This is a label or CTA text',
        tag: 'H3'
      },
      {
        text: 'This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.',
        tag: 'Body'
      }
    ]
  })