extends ../templates/base/base
include ../components/ui-kit-form-elements/ui-kit-form-elements

block head
  - const pageTitle = "Form Elements";
  - const pageDescription = "Макет страниц по поиску номеров в отеле";
  - const pageKeywords = "Toxin, отель, отели";

block content
  +ui-kit-form-elements({
    fieldTextDefault: {
      title: 'Text Field',
      helpText: 'Default',
      attrs: {
        type: 'email',
        placeholder: 'Email'
      }
    },
    fieldTextHover: {
      title: 'Text field',
      helpText: 'Hover / Focus',
      isHovered: 'hovered',
      attrs: {
        value: 'This is pretty awesome'
      }
    },
    dropdownGuestsDefaultNotSelected: {
      title: 'Dropdown',
      placeholder: 'Сколько гостей',
      helpText: 'Default',
      isButtons: true,
      options: [
        {
          title: 'взрослые',
          value: 0
        },
        {
          title: 'дети',
          value: 0
        },
        {
          title: 'младенцы',
          value: 0,
          isBaby: true
        }
      ]
    },
    fieldTextMasked: {
      title: 'Masked text field',
      helpText: 'Default',
      isMask: true,
      attrs: {
        placeholder: 'ДД.ММ.ГГГГ',
        'data-inputmask': "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy'"
      }
    },
    dateDropdown: {
      titleStart: 'Date dropdown',
      titleEnd: 'Date dropdown',
      attrs: {
        placeholder: 'дд.мм.гггг'
      }
    },
    filterDateDropdown: {
      isFilter: true,
      titleFilter: 'Filter date dropdown',
      attrs: {
        placeholder: 'дд мм - дд мм',
        value: '19 авг - 23 авг'
      }
    },
    subscribe: {
      title: 'Subscription text field',
      attrs: {
        placeholder: 'Email',
        type: 'email'
      }
    },
    checkboxButtons: {
      title: 'Checkbox Buttons',
      items: [
        {
          title: 'Можно курить'
        },
        {
          title: 'Можно с питомцами',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Можно пригласить гостей<br>(до 10 человек)',
          attrs: {
            checked: true
          }
        }
      ]
    },
    radioButtons: {
      title: 'Radio Buttons',
      radiobuttons: [
        {
          title: 'Мужчина',
          attrs: {
            name: 'radio',
            checked: true
          }
        },
        {
          title: 'Женщина',
          attrs: {
            name: 'radio'
          }
        }
      ]
    },
    toggle: {
      title: 'Toggle',
      items: [
        {
          title: 'Получать спецпредложения',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Получать спецпредложения'
        }
      ]
    },
    likeButton: {
      title: 'Like button',
      items: [
        {
          count: 2
        },
        {
          isActive: true,
          count: 12
        }
      ]
    },
    rating: {
      title: 'Rate button',
      items: [
        {
          id: 'rating-1',
          currentStars: 4,
          isStatic: false
        },
        {
          currentStars: 5
        }
      ]
    },
    rangeSlider: {
      title: 'Range slider',
    },
    buttons: {
      title: 'Buttons',
      primaryButtons: [
        {
          text: 'Click me',
          isPrimary: true
        },
        {
          text: 'Click me',
          isPrimary: true,
          isHover: true
        }
      ],
      outlineButtons: [
        {
          text: 'Click me',
          isOutline: true
        },
        {
          text: 'Click me',
          isOutline: true,
          isHover: true
        }
      ],
      linkButtons: [
        {
          text: 'Click me',
          isSimple: true,
          attrs: {
            href: '/mock-adress/change-me'
          }
        },
        {
          text: 'Click me',
          isSimple: true,
          isHover: true,
          attrs: {
            href: '/mock-adress/change-me'
          }
        }
      ],
      fullButton: {
        text: 'Перейти к оплате',
        isPrimary: true,
        isSizeFull: true,
        isViewArrow: true
      }
    },
    pagination: {
      title: 'Pagination',
      text: '1 – 12 из 100+ вариантов аренды'
    },
    dropdownDetailsDefault: {
      title: 'Dropdown',
      placeholder: 'Выбрать',
      helpText: 'Default',
      isDetails: true,
      options: [
        {
          title: 'спальни',
          value: 2,
          data: ['спальня', 'спальни', 'спален'],
        },
        {
          title: 'кровати',
          value: 2,
          data: ['кровать', 'кровати', 'кроватей'],
        },
        {
          title: 'ванные комнаты',
          value: 0,
          data: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
        }
      ]
    },
    dropdownDetailsExpanded: {
      title: 'Dropdown',
      placeholder: 'Выбрать',
      helpText: 'Expanded',
      isDetails: true,
      isOpen: true,
      options: [
        {
          title: 'спальни',
          value: 2,
          data: ['спальня', 'спальни', 'спален'],
        },
        {
          title: 'кровати',
          value: 2,
          data: ['кровать', 'кровати', 'кроватей'],
        },
        {
          title: 'ванные комнаты',
          value: 0,
          data: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
        }
      ]
    },
    dropdownGuestsExpandedNotSelected: {
      title: 'Dropdown',
      placeholder: 'Сколько гостей',
      helpText: 'Expanded',
      isButtons: true,
      isOpen: true,
      options: [
        {
          title: 'взрослые',
          value: 0
        },
        {
          title: 'дети',
          value: 0
        },
        {
          title: 'младенцы',
          value: 0,
          isBaby: true
        }
      ]
    },
    dropdownGuestsExpanded: {
      title: 'Dropdown',
      placeholder: 'Сколько гостей',
      helpText: 'Expanded',
      isButtons: true,
      isOpen: true,
      options: [
        {
          title: 'взрослые',
          value: 2
        },
        {
          title: 'дети',
          value: 1
        },
        {
          title: 'младенцы',
          value: 0,
          isBaby: true
        }
      ]
    },
    expandableCheckbox: {
      title: 'Expandable checkbox list',
      items: [
        {
          title: 'Завтрак',
        },
        {
          title: 'Письменный стол',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Стул для кормления',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Кроватка',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Телевизор'
        },
        {
          title: 'Шампунь'
        }
      ]
    },
    expandableCheckboxOpen: {
      title: 'Expandable checkbox list',
      isOpen: true,
      items: [
        {
          title: 'Завтрак',
        },
        {
          title: 'Письменный стол',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Стул для кормления',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Кроватка',
          attrs: {
            checked: true
          }
        },
        {
          title: 'Телевизор'
        },
        {
          title: 'Шампунь'
        }
      ]
    },
    fieldCheckboxRich: {
      isModRich: true,
      title: 'Rich Checkbox Buttons',
      items: [
        {
          title: 'Широкий коридор',
          text: 'Ширина коридоров в номере<br>не менее 91 см.'
        },
        {
          title: 'Помощник для инвалидов',
          text: 'На 1 этаже вас встретит специалист<br>и проводит до номера.'
        }
      ]
    },
    bulletList: {
      list: [
        'Нельзя с питомцами',
        'Без вечеринок и мероприятий',
        'Время прибытия — после 13:00, а&nbsp;выезд&nbsp;до 12:00'
      ]
    },
    iconTextList: {
      items: [
        {
          title: 'Комфорт',
          text: 'Шумопоглощающие стены',
          imageName: 'icon-text-list-emoticon.svg',
          width: 40,
          height: 40
        },
        {
          title: 'Удобство',
          text: 'Окно в каждой из спален',
          imageName: 'icon-text-list-city.svg',
          width: 36,
          height: 38
        }
      ]
    },
    comment: {
      username: 'Мурад Сарафанов',
      date: '5 дней назад',
      avatar: 'comment-murad.jpg',
      text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
      likeButton: {
        isActive: true,
        count: 12
      }
    }
  })