.field-radio {
  $block-name: &; // use #{$block-name}__element

  /* Title */

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade-100;
    margin-bottom: 16px;
  }

  /* Input wrap */

  &__input-wrap {
    line-height: 1;
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-right: -4px;
    }
  }

  /* Label */

  &__label {
    display: inline-block;
    position: relative;
  }

  /* Input */

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:hover {
      & + #{$block-name}__text {
        &::before {
          border-color: $dark-shade-50;
        }
      }
    }

    &:focus {
      & + #{$block-name}__text {
        &::before {
          box-shadow: 0 0 0 2px rgba(188,156,255, .5);
        }
      }
    }
  
    &:checked {
      & + #{$block-name}__text {
        color: $dark-shade-75;
  
        &::before {
          border-color: $primary-color;
        }
  
        &::after {
          display: block;
        }
      }
    }
  }

  /* Text */

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: $dark-shade-50;
    display: block;
    padding: 1px 0 1px 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $dark-shade-25;
      border-radius: 50%;
      background-color: #fff;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    }
  }
}