mixin field-radio(props = {})
  -
    const { title = '', radiobuttons } = props;

  .field-radio&attributes(attributes)
    if (typeof(title) !== 'undefined' && title)
      .field-radio__title!= title
    each checkbox in radiobuttons
      -
        const { title, attrs } = checkbox;

      .field-radio__input-wrap
        label.field-radio__label
          input.field-radio__input(type="radio")&attributes(attrs)
          span.field-radio__text!= title