@import '../../scss/variables';
@import '../../scss/mixins';

.field-radio {
  $block-name: &;
  line-height: 1;

  /* Title */

  &__title {
    @include title-h3(1rem);
  }


  /* Input wrap */

  &__input-wrap {
    display: inline-block;
    vertical-align: top;
    margin-right: calc(1.25rem - 4px);

    &:last-of-type {
      margin-right: 0;
    }
  }

  /* Label */

  &__label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 1.875rem;
  }

  /* Input */

  &__input {
    @include input-hidden;

    &:hover {
      & + #{$block-name}__text {
        &::before {
          border-color: $dark-shade-50;
        }
      }
    }

    &:focus {
      & + #{$block-name}__text {
        &::before {
          box-shadow: 0 0 0 2px rgba(188,156,255, .5);
        }
      }
    }
  
    &:checked {
      & + #{$block-name}__text {
        color: $dark-shade-75;
  
        &::before {
          border-color: $primary-color;
        }
  
        &::after {
          display: block;
        }
      }
    }
  }

  /* Text */

  &__text {
    color: $dark-shade-50;
    display: block;
    line-height: 1.125rem;
    padding: 0.0625rem 0 0.0625rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid $dark-shade-25;
      border-radius: 50%;
      background-color: #fff;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 0.25rem;
      left: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    }
  }
}