@import '../../scss/variables';
@import '../../scss/mixins';

.bullet-list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* Item */

  &__item {
    position: relative;
    padding-left: 1.30375rem;
    margin-bottom: 0.625rem;

    &::before {
      content: '';
      width: 0.625rem;
      height: 0.625rem;
      position: absolute;
      left: 0;
      top: 0.4375rem;
      background-color: $dark-shade-25;
      border-radius: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}