mixin bullet-list({ mods = '', list = [] })

  //- Use:
    +bullet-list({
      mods: '',
      list: [
        'Item 1',
        'Item 2'
      ]
    })

  -
    let allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      allMods = mods.split(',').map(el => `bullet-list--${el.trim()}`).join(' ');
    }

  ul.bullet-list(class=allMods)&attributes(attributes)
    each item in list
      li.bullet-list__item!= item