@import '../../scss/variables';
@import '../../scss/mixins';

.toggle {
  $block-name: &;
  line-height: 1;

  /* Title */

  &__title {
    @include title(1rem);
  }

  /* Input wrap */

  &__input-wrap {
    margin-bottom: 0.875rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  /* Label */

  &__label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding-left: 3.125rem;
  }

  /* Input */

  &__input {
    @include input-hidden;

    &:hover {
      & + #{$block-name}__text {
        &::before {
          border-color: $dark-shade-50;
        }
      }
    }

    &:focus {
      & + #{$block-name}__text {
        &::before {
          box-shadow: 0 0 0 2px rgba(188,156,255, .5);
        }
      }
    }

    &:checked {
      & + #{$block-name}__text {
        &::before {
          border-color: $primary-color;
        }

        &::after {
          transform: translateX(1.25rem);
          background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
        }
      }
    }
  }

  /* Text */

  &__text {
    line-height: 1.125rem;
    padding: 0.0625rem 0 0.0625rem;
    color: $dark-shade-75;
    display: block;

    /* Mask */

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2.5rem;
      height: 1.25rem;
      border: 1px solid $dark-shade-25;
      border-radius: 0.625rem;
      background-color: #fff;
    }

    /* Mark */

    &::after {
      content: '';
      position: absolute;
      left: 0.25rem;
      top: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: $dark-shade-25;
      transition: transform .3s;
    }
  }
}