mixin toggle(props = {})
  -
    const { title = '', items } = props;

  .toggle&attributes(attributes)
    if (title)
      .toggle__title!= title
    each item in items
      -
        const { title, attrs } = item;

      .toggle__input-wrap
        label.toggle__label
          input.toggle__input(type="checkbox")&attributes(attrs)
          span.toggle__text!= title