@mixin input {
  background-color: #fff;
  border: 1px solid $dark-shade-25;
  border-radius: 0.285714285714286em; // 4px
  color: $dark-shade-75;
  font-size: 0.875rem; // 14px
  display: block;
  line-height: 1.5; // 21px
  width: 100%;
  padding: 0.75em 1em;
  outline: none;

  &:hover,
  &:focus {
    border-color: $dark-shade-50;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(188,156,255, .5);
  }
}

@mixin input-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin title($marginBottom: 0.3125rem) {
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: $dark-shade-100;
  margin-bottom: $marginBottom;
  font-weight: bold;
}

@mixin help-text {
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: $dark-shade-50;
  margin-bottom: 5px;
}