// Base fonts

$font-size-base: 0.875rem;
$line-height-base: 1.714285714285714;
$font-family: 'Helvetica Neue', 'Arial', sans-serif;
$Montserrat: Montserrat, $font-family;
$Quicksand: Quicksand, $font-family;

$font-size-h1: 1.5rem;
$font-size-h2: 1.1875rem;
$font-size-h3: 0.75rem;
$line-height-h1: 1.25;
$line-height-h2: 1.2631;
$line-height-h3: 1.25;

// Base colors

$dark-shade-100: #1F2041;
$dark-shade-75: rgba($dark-shade-100, 0.75);
$dark-shade-50: rgba($dark-shade-100, 0.5);
$dark-shade-25: rgba($dark-shade-100, 0.25);
$dark-shade-10: rgba($dark-shade-100, 0.1);
$dark-shade-5: rgba($dark-shade-100, 0.05);

$primary-color: #BC9CFF;
$secondary-color: #6FCF97;

// Semantic colors

$text-color: $dark-shade-75;
$link-color: $dark-shade-50;