mixin like-btn(props = {})
  //- mods: active
  
  -
    const { mods = '', count = 0 } = props;

    let allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      allMods = mods.split(',').map(el => `like-btn--${el.trim()}`).join(' ');
    }

  button.like-btn(class=allMods, type="button")&attributes(attributes)
    span.like-btn__count!= count