mixin like-btn(props = {})
  -
    const { isActive = false, count = 0 } = props;

    let likeBtnClassName = 'like-btn js-like-btn';
    likeBtnClassName += isActive ? ' like-btn--active' : '';

  button(class=likeBtnClassName, type="button")&attributes(attributes)
    span.like-btn__count.js-like-btn__count!= count