mixin like-btn(props = {})
  -
    const { isActive = false, count = 0 } = props;

    let classesLikeBtn = 'js-like-btn';
    classesLikeBtn += isActive ? ' like-btn--active' : '';

  button.like-btn(class=classesLikeBtn, type="button")&attributes(attributes)
    span.like-btn__count.js-like-btn__count!= count