.field-text {
  $block-name: &; // use #{$block-name}__element

  display: block;

  /* Heading */

  &__heading {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 5px;
    color: $dark-shade-100;
  }

  &__help-text {
    margin-bottom: 5px;
    color: $dark-shade-50;
  }

  /* Input wrap */

  &__input-wrap {
    display: block;
    position: relative;
  }

  /* Input */

  &__input {
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    padding: 12px 14px;
    font-family: $Montserrat;
    color: $dark-shade-75;
    outline: none;

    &:hover,
    &:focus {
      border-color: $dark-shade-50;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(188,156,255, .5);
    }
  }

  /* Modifier hovered */

  &--hovered {
    #{$block-name}__input {
      border-color: $dark-shade-50;
    }
  }
}