@import '../../scss/variables';

.field-text {
  $block-name: &;

  display: block;

  /* Heading */

  &__heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &__name {
    font-weight: bold;
    margin-bottom: .5rem;
    color: $dark-shade-100;
  }

  &__help-text {
    margin-bottom: .5rem;
    color: $dark-shade-50;
  }

  /* Input wrap */

  &__input-wrap {
    display: block;
    position: relative;
  }

  /* Input */

  &__input {
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 100%;
    padding: .9rem 1.4rem .9rem;
    color: $dark-shade-75;
    outline: none;

    &:hover,
    &:focus {
      border-color: $dark-shade-50;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(188,156,255, .5);
    }
  }

  /* Modifier hovered */

  &--hovered {
    #{$block-name}__input {
      border-color: $dark-shade-50;
    }
  }
}